VITE_APP_VARIANT=beta
VITE_FIREBASE_API_KEY=AIzaSyAm3d8LboRVkDvKEgyjUY8rScMgdezGR3U
VITE_FIREBASE_AUTH_DOMAIN=livedraw-7e3c2.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=livedraw-7e3c2
VITE_FIREBASE_STORAGE_BUCKET=livedraw-7e3c2.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1088314947548
VITE_FIREBASE_APP_ID=1:1088314947548:web:de46447738529f6689c119
VITE_FIREBASE_MEASUREMENT_ID=G-1T7X8R5R18
VITE_FIREBASE_APP_CHECK_SITE_KEY=
