VITE_FIREBASE_API_KEY=AIzaSyBJEFwKf6hGSEv0gR-amTuKk0FJ7igNGE4
VITE_FIREBASE_AUTH_DOMAIN=drawcard-26e01.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=drawcard-26e01
VITE_FIREBASE_STORAGE_BUCKET=drawcard-26e01.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=814745985336
VITE_FIREBASE_APP_ID=1:814745985336:web:218fb3f397cf5e2c5961cd
VITE_FIREBASE_MEASUREMENT_ID=G-T7MSG09PE6
